{{#each posts as |post|}}
<div>
    <a
      href='/post/{{post.id}}'
      class='feed rounded-4 mx-auto mb-3 my-3'
      style='display: block; max-width: 650px; width: 100%; text-align: center;'
    >
        <div class='row g-0'>
                <div class='col-md-12 mb-4'>
                    <div>
                        <h3>{{post.title}}</h3>
                        <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{{/each}}