/** {
    border: 1px solid red;
}*/
:root {
    --bg-colour: rgb(189, 255, 197);
}

a {
    text-decoration: none;
    color: var(--bg-colour);
}

h2 {
    color: grey;
}

#feed-posts:hover h2 {
    color: var(--bg-colour);
}

#feed-posts:hover #post-date-author {
    color: var(--bg-colour);
}


p {
    font-size: large;
}

#comment-button-holder {
    text-align: right;
}
#post-comments h2 {
    color: gray;
}
#logout {
    color: var(--bg-colour);
    background-color: black;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    outline: inherit;
}

#post-date-author {
    color:grey;
    text-align: right;
}

#nav-bar {
    background-color: black;
    color: var(--bg-colour);
    height: 65px;
}

#page-header {
    background-color: black;
    color: var(--bg-colour);
    height: 65px;
}
#page-header-hold {
    border-radius: 5px;
    background-color: var(--bg-colour);
    height: 60px;
    width: 300px;
    box-shadow: 5px 5px green;

}

#page-header-text {
    color: black;
}

#bottom-of-head {
    height: 10px;
    background-color: black;
}
#homepage {
    background-color: var(--bg-colour);
    color: black;
}

#post-page {
    background-color: var(--bg-colour);
    color: black;
}

.card {
    margin-top: 10px;
}
.card-header {
    background-color: black;
    border: 2px solid black;
}
.card-body {
    border: 2px solid black;
    background-color: var(--bg-colour);
}

#submit-comment {
    width: 80px;
    background-color: var(--bg-colour);
    border-radius: 5px;
}

#submit-comment:hover {
    color: white;
}

#login-btn {
    margin-top: 10px;
    width: 80px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}
#login-btn:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid black
}

#LS-links {
    color: rgba(0, 0, 255, 0.936);
    margin-top: 10px;
    text-align: right;
}
#LS-links:hover {
    text-decoration: underline;
}

#dashboard {
    background-color: var(--bg-colour);
}

#new-post-btn-hold {
    margin-top: 20px;
    text-align: center;
}

#add_new_post_button {
    font-size: large;
    width: 140px;
    border-radius:5px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}
#add_new_post_button:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid black
}
#rest-of-page {
    background-color: var(--bg-colour);
    height: 100%
}

#optional-btns {
    margin-top: 15px;
}

#update_hold {
    text-align: right;
}
.update_post {
    border-radius:5px;
    width: 80px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}
.update_post:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid blackS
}

.delete_post {
    border-radius:5px;
    width: 80px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}

.delete_post:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid blackS
}

#content_sec {
    margin-top: 5px;
}

#post-btn-hold {
    margin-top: 10px;
}

.post {
    border-radius:5px;
    width: 150px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}
.post:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid blackS
}

.update {
    border-radius:5px;
    width: 150px;
    background-color: black;
    color: var(--bg-colour);
    border:1px solid black
}
.update:hover {
    background-color: var(--bg-colour);
    color: black;
    border:1px solid blackS
}

#hold-404 {
    background-color: var(--bg-colour);
    /*height: 100%;*/
}
#actual-404 {
    text-align: center;
    font-size: 100px;
}
#text-404 {
    text-align: center;
    font-size: 30px;
    height: 100%;
}

#make-a-comment h2 {
    color:grey;
}
/*#nav-link {
}